{% extends 'simple_investing/base.html' %}
{% load socialaccount %}
{% block content %}
{% load i18n %}
  <br>
  <br>
  <body class="text-center">
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <main class="form-signin">
      <img class=>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
          <p>            
            {{ field }}
            {{ field.errors }}
          </p>
        {% endfor %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
            <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
       </form>
  </main>
  
{% endblock %}
